<robot name="bot"
    xmlns:xacro="http://www.ros.org/wiki/xacro"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_mock_hardware" default="false" />


    <xacro:include filename="globals.urdf.xacro" />
    <xacro:include filename="chassis.urdf.xacro" />
    <xacro:include filename="wheels.urdf.xacro" />

    <xacro:include filename="$(find bot_differential_drive)/description/bot_differential_drive.ros2_control.xacro" />
    <xacro:bot_differential_drive_control name="Bot" prefix="$(arg prefix)" use_mock_hardware="$(arg use_mock_hardware)" />


</robot>

  